<div class="row si">
    <div class="col s6 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title"><%= @user.first_name %> <%= @user.last_name %></span>
                <p>Course Enrollments: 
                    <% if @user.courses.empty? %>
                        None
                    <% else %>
                        <ul>
                            <% @user.courses.each do |course| %>
                                <li><%= course.name %></li>
                            <% end %>
                        </ul>
                    <% end %>
                </p>
            </div>
            <%= link_to('<i class="material-icons left">create</i>Edit your profile'.html_safe, edit_user_path(@user), class: "waves-effect waves-light btn") if current_user == @user%>
        </div>
    </div>
</div>